*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

/*.oldalak{
	position: relative;
	height: 100vh;
}*/
.section{
	/*height: 100vh;*/
	display: flex;
	/*width: 100vw;*/
	overflow: hidden;
	flex-direction: column;
}
.section h2{
	justify-content: center;
	align-items: center;
/*	padding-right: 1%;
	padding-left: 5%;*/
	/*border: 2px solid pink;*/
	margin-right: 5%;
}
.cim {
	text-transform: uppercase;
	font-size: 4.5rem;
	color:white;
	mix-blend-mode: difference;
}
.section:nth-child(1){
	height: 80vh;
	background-color: #f4f1bb;
	background: url(basketball-court.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.Plakat {
	width: 40%;
		/*padding-right: 1%;*/
	margin-left: 5%;
	border: 1px solid grey;
}
/*.section:nth-child(2){
}
.section:nth-child(3){
	background-color: #f4f1bb;
	height: 0vh;
	display: hidden;
}
.section:nth-child(4){
	background-color: #cfbcdf;
	height: 0vh;
	display: hidden;
		
}
.section:nth-child(5){
}*/